html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background: #c6c3c3;
    max-width: 1000px;
    margin: auto;
}